---
title: AP Computer Science A
course: apcsa
layout: course
---
<h1>AP Computer Science A</h1>

<section>
    <h2>Announcements</h2>
    {% for post in site.posts %}
    {% if post.categories contains page.course %}
        <h3>{{ post.title }}</h3>
        <h4><em>{{ post.date | date_to_long_string }}</em></h4>
        <p>{{ post.content }}</p>
    {% endif %}
    {% endfor %}
    
    <aside>
        <h3><a href="https://gradeit-hs.cs.washington.edu/issaquah/">GradeIt</a></h3>
        <p>Submit assignments here</p>
    </aside>
</section>


