---
title: AP Computer Science Principles
course: apcsprinciples
layout: course
---
<h1>AP Computer Science Principles</h1>

<section>
    <h2>Announcements</h2>
    {% for post in site.posts %}
    {% if post.categories contains page.course %}
        <h3>{{ post.title }}</h3>
        <h4><em>{{ post.date | date_to_long_string }}</em></h4>
        <p>{{ post.content }}</p>
    {% endif %}
    {% endfor %}
    
    <aside>
        <h3>Sign in at <a href="https://studio.code.org/users/sign_in" target="_blank">Code.org</a></h3>
        <p>View and submit assignments here!</p>
    </aside>
</section>
