---
title: IHS Computer Science
course: none
layout: default
---
<nav>
    <ul>
    </ul>
</nav>

<section>
    <h2>Welcome to Mr. Stutler's Website</h2>
    <p>This website, new for the 2016-2017 school year, is still under construction. Please excuse any malfunctions, errors, or other issues while we get everything fully up and running.</p>
    
    <aside>
      <h4>Mr. Stutler</h4>
      <p><a href=mailto:stutlerk@issaquah.wednet.edu>stutlerk@issaquah.wednet.edu</a></p>
      <h5>Fall 2016 Schedule:</h5>
      <p>
      {% for course in site.data.courses %}
          Per. {{ course.period }}: {{ course.title }}<br />
      {% endfor %}
      </p>
    </aside>
</section>

<section>
    <h2>Announcements</h2>
    {% for post in site.posts %}
        <h3>[
        {% for cat in post.categories %}
            {{ cat}} 
            {% unless forloop.last %}
                , 
            {% endunless %}
        {% endfor %}
        ] {{ post.title }}
        </h3>
        <h4><em>{{ post.date | date_to_long_string }}</em></h4>

        <p>{{ post.content }}</p>
    {% endfor %}
</section>

<!--
<section>
<h2>Recommendation Request</h2>
<iframe id="JotFormIFrame" onload="window.parent.scrollTo(0,0)" allowtransparency="true" src="http://form.jotform.us/form/42946218347158" frameborder="0" style="width:100%; height:2224px; border:none;" scrolling="no"></iframe>
<script type="text/javascript">window.handleIFrameMessage = function(e) {var args = e.data.split(":");var iframe = document.getElementById("JotFormIFrame");if (!iframe)return;switch (args[0]) {case "scrollIntoView":iframe.scrollIntoView();break;case "setHeight":iframe.style.height = args[1] + "px";break;case "collapseErrorPage":if (iframe.clientHeight > window.innerHeight) {iframe.style.height = window.innerHeight + "px";}break;case "reloadPage":window.location.reload();break;}};if (window.addEventListener) {window.addEventListener("message", handleIFrameMessage, false);} else if (window.attachEvent) {window.attachEvent("onmessage", handleIFrameMessage);}if(window.location.href && window.location.href.indexOf("?") > -1) {var ifr = document.getElementById("JotFormIFrame");var get = window.location.href.substr(window.location.href.indexOf("?") + 1);if(ifr && get.length > 0) {var src = ifr.src;src = src.indexOf("?") > -1 ? src + "&" + get : src  + "?" + get;ifr.src = src;}}</script>
</section>
-->
