aside {
  width: 250px;
  padding: 30px 30px 30px 30px;
  margin: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -330px;
  background: #fbfbfb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
}

tr.category {
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
}

tr.total {
  font-weight: bold;
}

.projects [type=checkbox], .projects .projList  {
  display: none;
  font-size: 90%;
  font-style: italic;
}

.projects [type=checkbox]:checked ~ .projList {
  display: block;
  margin-bottom: 0;
}

.projects label:hover {
   color: #999;
   cursor: pointer;
}
