---
layout: default
---
      <nav>
        <ul>
			<li>
                <div class="projects">
                    <input type="checkbox" id="projToggle">
                    <label for="projToggle">Projects</label>
                    <ul class="projList">
                    {% for proj in site.documents %}
                    {% if proj.layout == 'project' and proj.course == page.course %}
                        <li><a href="{{ proj.url }}">Project {{ proj.number }} - {{ proj.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </li>
			<li><a href="#">Documents</a></li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Forum</a></li>
		</ul>
      </nav>
    
	  {{ content }}