---
layout: default
---
      <nav>
        <ul>
			<li><a href="#">Documents</a></li>
			<li>
                <div class="projects">
                    <input type="checkbox" id="projToggle">
                    <label for="projToggle">Projects</label>
                    <ul class="projList">
                        <li><a href="#">Project 1</a></li>
                        <li><a href="#">Project 2</a></li>
                        <li><a href="#">Project 3</a></li>
                    </ul>
                </div>
            </li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Forum</a></li>
		</ul>
      </nav>
    
	  {{ content }}