---
layout: default
---
      <nav>
        <ul>
			<li><a href="{{ page.turnin }}">Turn-in page</a></li>
			<li><a href="{{ page.forum }}">Project Forum</a></li>
			{% if page.files %}<li><a href="#">Supporting Files</a></li> {% endif %}
            <li>-----</li>
		</ul>
      </nav>
      
      <h1>Project {{ page.number }} - {{ page.title }}</h1>
          
      
      <section>
          <aside>
            <h3>Due Dates</h3>
            <dl>
                {% if page.checkpoints %}
                    {% for chk in page.checkpoints %}
                        <dt>{{ chk.title }}</dt>
                        <dd>{{ chk.date | date: "%A, %B %d, %Y" }}</dd>
                    {% endfor %}
                {% endif %}
                <dt>Final Due Date</dt>
                <dd>{{ page.due | date: "%A, %B %d, %Y" }}</dd>		
            </dl>
          </aside>          

          <h2>Specification</h2>
          {{ content }}          
      </section>
      
      {% if page.checkpoints %}
      <section>
        <h2>Checkpoints</h2>
          {% for chk in page.checkpoints %}
              <h3>{{ chk.title }}</h3>
              <h4><em>{{ chk.date | date: "%A, %B %d, %Y" }} (worth {{ chk.value}})</em></h4>
              <p>{{ chk.description }}</p>
          {% endfor %}
          <h3>Final Due Date</h3>
          <h4><em>{{ page.due | date: "%A, %B %d, %Y" }}</em></h4>
          <p>All required program elements are implemented and functional</p>
      </section>
      {% endif %}
      
      <section>
        <h2>Rubric</h2>
        <table border="1">
                {% if page.rubric.behavior %}
                <tr class="category"><th colspan="2">Behavior</th></tr>
                {% for crit in page.rubric.behavior.criteria %}
                    <tr><td>{{ crit.criterion }}</td>
                        <td>{{ crit.value }} points</td>
                    </tr>
                {% endfor %}
                <tr class="total"><td>Total</td><td>{{ page.rubric.behavior.total }} points</td></tr>
                {% endif %}

                {% if page.rubric.design %}
                <tr class="category"><th colspan="2">Design</th></tr>
                {% for crit in page.rubric.design.criteria %}
                    <tr><td>{{ crit.criterion }}</td>
                        <td>{{ crit.value }} points</td>
                    </tr>
                {% endfor %}
                <tr class="total"><td>Total</td><td>{{ page.rubric.design.total }} points</td></tr>
                {% endif %}
                
                <tr class="category"><th colspan="2">Implementation</th></tr>
                {% for crit in page.rubric.implementation.criteria %}
                    <tr><td>{{ crit.criterion }}</td>
                        <td>{{ crit.value }} points</td>
                    </tr>
                {% endfor %}
                <tr class="total"><td>Total</td><td>{{ page.rubric.implementation.total }} points</td></tr>
                <tr class="category total"><td>Project total</td><td>{{page.rubric.total }} points</td></tr>
        </table>
      </section>